nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    background-color: transparent;
    cursor: pointer;
    border: 2px solid rgb(65, 65, 65);
    border-radius: 10px;
    padding: 0.5em;
    transition: all .3s ease;
    &:hover {
      background-color: rgb(65, 65, 65);
      color: white;
    }
    &:focus {
      outline: none;
    }
  }
}
